.badge-container {
  background-color: var(--N25);
  clip-path: inset(0 0 0 0 round var(--border-r2));
}

.badge {
  width: 17px;
  height: 17px;
  border: 0.5px solid var(--N200);
  border-radius: var(--border-r2);
  text-align: center;
  align-content: center;
  color: var(--body);
  cursor: default;
}
