.dataclass-editor-badges {
  margin: -8px 0;
}

.dataclass-editor-cardinality-badge {
  border-color: #f9731666;
  background-color: #f973161a;
  color: #f97316;
}

.dataclass-editor-entity-properties-badge {
  border-color: #10b98166;
  background-color: #10b9811a;
  color: #10b981;
}

.dataclass-editor-annotations-badge {
  border-color: #3b82f666;
  background-color: #3b82f61a;
  color: #3b82f6;
}

.dataclass-editor-properties-badge {
  border-color: #8b5cf666;
  background-color: #8b5cf61a;
  color: #8b5cf6;
}
