.detail-content {
  margin: var(--size-3);
}

.class-type-group {
  justify-content: space-between;
  border: var(--basic-border);
  border-radius: var(--border-r1);
  padding: var(--size-1);
}

button[data-state='off'] {
  color: var(--N700);
}
