.dataclass-editor-main-content {
  height: 100%;
  padding: var(--size-3);
  overflow: auto;
}

.dataclass-editor-table-field {
  min-height: 0;
  height: fit-content;
}

.dataclass-editor-table {
  overflow-x: unset;
}
